.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: blueviolet;
    font-size: 40px;
    margin:0;
}
.nav ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav ul li{
    padding-left: 70px;
    padding-top:15px;
}
.nav ul a{
    text-decoration: none;
    color:blueviolet;
}
#leftSide{
   
    padding-left: 400px;
    cursor: pointer;

}
h1 a{
    color: blueviolet;
    text-decoration: none;
}