.product-header-image{
    object-fit: contain;
    width: 100%;
    height: 600px;
}
.adjust-carousel{
    margin-top: 50px;
}
.plat-item{
    margin-bottom: 40px;
    border: 1px solid #ccc;
}
.plat-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.plat-item .plat-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.plat-item .name-head {
    font-size: 20px;
    font-weight: 600;
}
.plat-item h6{
    text-align: center;
}
.plat-item .plat-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}